include ./partials/header.pug

main.content
    h1.content__title Les planètes
    ul.content__list
        li.content__action
            a.content__link(href="terre") Terre
        li.content__action
            a.content__link(href="mars") Mars
        li.content__action
            a.content__link(href="venus") Vénus

include ./partials/footer.pug