include ./partials/header.pug

main(class="content"
    id="planet"
    data-size= size
    data-color= color)
    h1.content_title= title
    p.content__action
        a.content__link(href="./") Retour à l'accueil

include ./partials/footer.pug